.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: calc(100% - 48px);
  margin: 20px auto;
  padding: 0px;
  list-style: none;
}
.listItem {
}
.img {
  display: block;
  height: auto;
  max-width: 100%;
}
.name {
  font-size: 18px;
  color: black;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.char {
  font-size: 18px;
  color: black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}
