.list {
    display: grid;
    width: calc(100% - 50px);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    margin: 0px auto;
    padding: 0px;
    list-style: none;
}